body,html,ul,li,h1,h2,h3,h4,h5,h6{
    padding:0;
    margin:0;
    list-style:none;
}
html,body{
    width:100%;
    height:100%;
}
.swiper-container{
    width:100%;
    height:100%;
    position: relative;
}
.swiper-slide:nth-child(1){
    background:url(../img/beijing1.jpg) no-repeat;
    background-size:cover;
}
.swiper-slide:nth-child(2){
    background:url(../img/beijing2.jpg) no-repeat;
    background-size:cover;
}
/*第一屏*/
.bg11{
    position: absolute;
    left:2.74rem;top:4.81rem;
}
.bg12{
    position: absolute;
    left:2.25rem;top:5.3rem;
}
.bg13{
    position: absolute;
    left:2.16rem;top:6.89rem;
}
h5{
    font-size:30px;
    position: absolute;
    left:3.26rem;bottom:4.78rem;
}
h6{
    font-size:20px;
    position: absolute;
    left:2.56rem;bottom:4.26rem;
}
/*第二屏*/
.bg21{
    position: absolute;
    left:3.27rem;top:4.35rem;
}
.bg22{
    position: absolute;
    left:4.21rem;top:5.49rem;
}
.bg23{
    position: absolute;
    left:2.04rem;top:5.66rem;
}
.bg24{
    position: absolute;
    left:4.85rem;bottom:5.49rem;
}
