body{
    background:#DDDDDD;
    color:#000;
    font-size:17px;
    font-weight:300;
}
.adcenter {
    width: 960px;
    height: 90px;
    margin: 0 auto;
}
.nav{
    display:block;
    width:685px;
    float: left;
    height:80px;
    position: fixed;
    left:0;right:0; top:20px;
    margin:auto;
}
.nav>li{
    width:160px;
    margin-left:15px;
    height:100%;
    float: left;
    text-align: center;
    background:rgba(255,255,255,.4);
}
.nav>li:nth-child(1){
    margin:0;
}
.nav>li>a{
    color:#000;
    font-size:20px;
    font-weight:600;
    line-height:80px;
}
.nav .active{
    background:rgba(255,255,255,.6);
}
.nav .active a{
    color:#5394D6;
}
.nav>li:hover{
    background:rgba(255,255,255,.6);
}
.nav>li:hover a{
    color:#5394D6;
}
nav{
    display:none;
}
/*小屏导航*/
.small-nav{
    width:53px;
    height:43px;
    float: left;
    padding:12px 18px;
    background:rgba(255,255,255,0.6);
    position: relative;
    position: absolute;
    left:0; right:0; margin:auto;
    cursor: pointer;
    display:block;
}
.s-con{
    position: absolute;
    left:-53px;
    top:43px;
    display:none;
    z-index:1002;
}
.s-con>li>a{
    display:block;
    width:159px;
    height:40px;
    line-height:40px;
    text-align:center;
    background:rgba(255,255,255,0.4);
    color:#000;
    font-size:20px;
}
.s-con>li>a:hover{
    background:rgba(255,255,255,.6);
    color:#5394D6;
}
@media screen and (min-width:768px){
    nav{
        display:block;
    }
    .small-nav{
        display:none;
    }
}
@media screen and (min-width:1170px){
    nav{
        display:block;
    }
    .small-nav{
        display:none;
    }
}
.screen>li{
    display:block;
    width:100%;
    height:1200px;
    z-index:999;
}
/*第一页*/
.screen>li:nth-child(1){
    background:url("../img/bg-01.jpg") no-repeat center;
}
.first{
    position: absolute;
    top:200px;
}
.first-title{
    display:block;
    width:68px;
    height:68px;
    border-radius:50%;
    margin:0 auto 30px;
    background:url(../img/11.jpg) no-repeat center;
}
.first-text{
    display:block;
    color:#fff;
    text-align:center;
    margin-bottom:30px;
}
.first-info{
    width:400px;
    padding:40px 45px;
    margin:0 auto;
    background:rgba(255,255,255,.6);
}
@media screen and (min-width:768px){
   .first{
       width:600px;
   }
}
@media screen and (min-width:1170px){
    .first{
        width:600px;
    }
}
/*第二页*/
.screen>li:nth-child(2){
    background:url("../img/bg-02.jpg") no-repeat center;
    display:none;
}
.two:nth-child(2){
    margin:0;
}
.second{
    width:300px;
    position: absolute;
    left:0; right:0;
    top:180px;
    margin:auto;
}
.two{
    width:300px;
    height:250px;
    padding:20px 45px;
    background:rgba(255,255,255,.6);
    margin-bottom:20px;
}
@media screen and (min-width:768px){
    .second{
        width:740px;
        top:200px;
    }
    .two{
        width:360px;
        height:396px;
        margin-right:20px;
        float: left;
    }
}
@media screen and (min-width:1170px){
    .second{
        width:860px;
        top:200px;
    }
    .two{
        width:420px;
        height:396px;
        margin-right:20px;
        float: left;
    }
}
/*第三页*/
.screen>li:nth-child(3){
    background:url("../img/bg-03.jpg") no-repeat center;
    display:none;
}
.third{
    width:280px;
    position: absolute;
    left:0; right:0;
    top:50px;
    margin:auto;
}
.third>div{
    width:280px;
    height:180px;
    margin:5px;
    border:10px solid #fff;
    background:url("../img/tm-img-03.jpg") no-repeat;
    background-size:cover;
    float: left;
}
@media screen and (min-width:768px){
    .third{
        width:640px;
        top:200px;
    }
    .third>div{
        width:280px;
        height:200px;
        margin:20px;
        float: left;
    }
}
@media screen and (min-width:1170px){
    .third{
        width:900px;
        top:200px;
    }
    .third>div{
        width:280px;
        height:200px;
        margin:10px;
        float: left;
    }
}
/*第四页*/
.screen>li:nth-child(4){
    background:url("../img/bg-04.jpg") no-repeat center;
    display:none;
}
.forth{
    width:300px;
    position: absolute;
    left:0; right:0;
    top:150px;
    margin:auto;
}
.forth p{
    text-align: center;
    line-height:50px;
    color:#fff;
    font-weight:800;
    font-size:30px;
    margin-bottom:20px;
}
.form{
    width:100%;
}
.forth-info{
    margin-right:20px;
}
.forth-mess textarea{
    display:block;
    font-size:20px;
    width:300px;
    height:150px;
}
.f-item input{
    display:block;
    font-size:20px;
    width:300px;
    height:50px;
    margin-bottom:10px;
}
.submit{
    width:100px;
    height:50px;
    text-align: center;
    line-height:50px;
    color:#fff;
    background:#000;
    float:right;
    margin:10px 0 0 0;
}
@media screen and (min-width:768px){
    .forth{
        width:600px;
        position: absolute;
        left:0; right:0;
        top:150px;
        margin:auto;
    }
    .forth p{
        text-align: center;
        line-height:50px;
        color:#fff;
        font-weight:800;
        font-size:40px;
        margin-bottom:20px;
    }
    .form{
        width:100%;
    }
    .forth-info{
        margin-right:20px;
        float: left;
    }
    .forth-mess textarea{
        display:block;
        font-size:20px;
        width:280px;
        height:150px;
        float: left;
    }
    .f-item input{
        display:block;
        font-size:20px;
        width:300px;
        height:50px;
        margin-bottom:10px;
    }
    .submit{
        width:100px;
        height:50px;
        text-align: center;
        line-height:50px;
        color:#fff;
        background:#000;
        float:right;
        margin:10px 10px 0 0;
    }
}
@media screen and (min-width:1170px){
    .forth{
        width:900px;
        position: absolute;
        left:0; right:0;
        top:150px;
        margin:auto;
    }
    .forth p{
        text-align: center;
        line-height:50px;
        color:#fff;
        font-weight:800;
        font-size:50px;
        margin-bottom:20px;
    }
    .form{
        width:100%;
    }
    .forth-info{
        margin-right:20px;
        float: left;
    }
    .forth-mess textarea{
        display:block;
        font-size:20px;
        width:400px;
        height:150px;
        float: left;
    }
    .f-item input{
        display:block;
        font-size:20px;
        width:400px;
        height:50px;
        margin-bottom:10px;
    }
    .submit{
        width:100px;
        height:50px;
        text-align: center;
        line-height:50px;
        color:#fff;
        background:#000;
        float:right;
        margin:10px 80px 0 0;
    }
}