body{
    background:#DDDDDD;
    color:#000;
    font-size:17px;
    font-weight:300;
    .clear;
}
.adcenter {
    width: 960px;
    height: 90px;
    margin: 0 auto;
}
.nav{
    display:block;
    width:685px;
    float: left;
    height:80px;
    position: absolute;
    left:0;right:0;top:0;
    margin:auto;
}
.nav>li{
    width:160px;
    height:100%;
    float: left;
    text-align: center;
    background:rgba(255,255,255,.4);
}
.nav>li>a{
    color:#000;
    font-size:20px;
    font-weight:600;
    line-height:80px;
}
.nav .active{
    background:rgba(255,255,255,.6);
}
.nav .active a{
    color:#5394D6;
}
.nav>li:hover{
    background:rgba(255,255,255,.6);
}
.nav>li:hover a{
    color:#5394D6;
}
nav{
    display:none;
}
/*小屏导航*/
.small-nav{
    width:53px;
    height:43px;
    float: left;
    padding:12px 18px;
    background:rgba(255,255,255,0.6);
    position: relative;
    position: absolute;
    left:0; right:0; margin:auto;
    cursor: pointer;
    display:block;
}
.s-con{
    position: absolute;
    left:-53px;
    top:43px;
    display:none;
    z-index:1002;
}
.s-con>li>a{
    display:block;
    width:159px;
    height:40px;
    line-height:40px;
    text-align:center;
    background:rgba(255,255,255,0.4);
    color:#000;
    font-size:20px;
}
.s-con>li>a:hover{
    background:rgba(255,255,255,.6);
    color:#5394D6;
}
@media screen and (min-width:768px){
    .slider>.container>.row{
        width:70%;
    }
    .slider>.container>.row>li{
        width:23%;
        margin:1%;
    }
    nav{
        display:block;
    }
    .small-nav{
        display:none;
    }
}
@media screen and (min-width:1170px){
    .slider>.container>.row{
        width:70%;
    }
    .slider>.container>.row>li{
        width:23%;
        margin:1%;
    }
    nav{
        display:block;
    }
    .small-nav{
        display:none;
    }
}
.screen>li{
    display:block;
    width:100%;
    height:1000px;
    z-index:999;
}
/*第一页*/
.screen>li:nth-child(1){
    background:url("../img/bg-01.jpg") no-repeat center;
}
.screen>li:nth-child(1)>.row{
    width:50%;
    position: absolute;
    top:150px;
    left:0;
    right:0;
    margin:auto;
    text-align:center;
    line-height:30px;
}
.screen>li:nth-child(1)>.row>h2{
    font-size:20px;
}

.first-title{
    display:block;
    width:68px;
    height:68px;
    border-radius:50%;
    margin:0 auto 30px;
    background:url(../img/11.jpg) no-repeat center;
}
.first-text{
    display:block;
    color:#fff;
    text-align:center;
    margin-bottom:30px;
}
.first-info{
    padding:40px 45px;
    margin:0 auto;
    background:rgba(255,255,255,.6);
}
@media screen and (min-width:768px){
    .screen>li:nth-child(1)>.row{
        width:40%;
    }
}
@media screen and (min-width:1170px){
    .screen>li:nth-child(1)>.row{
        width:50%;
    }
}
/*第二页*/
.screen>li:nth-child(2){
    background:url("../img/bg-02.jpg") no-repeat center;
}
.screen>li:nth-child(2)>.row{
    width:40%;
    position: absolute;
    top:150px;
    left:0;
    right:0;
    margin:auto;
}
.screen>li:nth-child(2)>.row>div{
    height:396px;
    padding:20px 45px;
    background:rgba(255,255,255,.6);
    margin-bottom:20px;
}
@media screen and (min-width:768px){
    .screen>li:nth-child(2)>.row{
        width:60%;
    }
    .screen>li:nth-child(2)>.row>div{
        width:48%;
        margin:1%;
    }
}
@media screen and (min-width:1170px){
    .screen>li:nth-child(2)>.row{
        width:80%;
    }
    .screen>li:nth-child(2)>.row>div{
        width:48%;
        margin:1%;
    }
}
/*第三页*/
.screen>li:nth-child(3){
    background:url("../img/bg-03.jpg") no-repeat center;
}
.screen>li:nth-child(3)>.row{
    width:40%;
    position: absolute;
    top:150px;
    left:0;
    right:0;
    margin:auto;
}
.screen>li:nth-child(3)>.row>div{
    width:98%;
    height:200px;
    margin:1%;
    border:10px solid #fff;
    background:url("../img/tm-img-03.jpg") no-repeat;
    background-size:cover;
    float: left;
    position: relative;
    transition:all 0.5s;
}
.screen>li:nth-child(3)>.row>div>span{
    display:block;
    width:100%;
    height:20px;
    background:rgba(255,255,255,.6);
    font-size:15px;
    text-align:center;
    position:absolute;
    bottom:0;
}
.screen>li:nth-child(3)>.row>div:hover{
    transform:scale(1.2,1.2);
    z-index:999;
}
.screen>li:nth-child(3)>.row>div:hover span{
    opacity:0;
}
@media screen and (min-width:768px){
    .screen>li:nth-child(3)>.row{
        width:60%;
    }
    .screen>li:nth-child(3)>.row>div{
        width:48%;
        margin:1%;
    }
}
@media screen and (min-width:1170px){
    .screen>li:nth-child(3)>.row{
        width:80%;
    }
    .screen>li:nth-child(3)>.row>div{
        width:31%;
        margin:1%;
    }
}
/*第四页*/
.screen>li:nth-child(4){
    background:url("../img/bg-04.jpg") no-repeat center;
}
.screen>li:nth-child(4)>.row{
    width:80%;
    position: absolute;
    left:0;
    right:0;
    top:150px;
    margin:auto;
}
.screen>li:nth-child(4)>.row p{
    text-align:center;
    color:#fff;
    font-size:30px;
    line-height:40px;
    padding:10px 0;
} 
.screen>li:nth-child(4)>.row  input{
    border:0px;
    margin:1%;
    width:98%;
    height:50px;
    font-size:20px;
    background:rgba(255,255,255,.7);
    text-align: center;
}
@media screen and (min-width:768px){
    .screen>li:nth-child(4)>.row  input{
        width:80%;
        margin:1% 10%;
    }
}
@media screen and (min-width:1170px){
    .screen>li:nth-child(4)>.row  input{
        width:70%;
        margin:1% 15%;
    }
}
